%ul
  %li= current_user.name
  %li
    %img{:src => "#{current_user.image}", :alt => ""}/
  %li= current_user.provider
  %li= current_user.uid
= link_to "Deslogar", destroy_user_session_path, method: :delete