.container.login
  %h5 Entrar
  .row
    .col.s12.m6.fields
      = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| 
        .form-inputs
          = f.input :email, required: false, autofocus: true 
          = f.input :password, required: false
          = f.input :remember_me, as: :boolean if devise_mapping.rememberable? 
        .form-actions
          = f.button :submit, "Logar", class: "btn"

    .col.s12.m6.social
      .center
        = link_to "Logar com facebook" ,user_facebook_omniauth_authorize_path, class: "btn btn-large light-blue darken-4" unless current_user